.react-autosuggest__container {
  position: relative;
  text-align: center;
}

.react-autosuggest__input {
  width: 100%;
  font-size: 20px;
  padding: 0.5rem 0;
  cursor: text;
  border: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}

input[type='search'] {
  -webkit-appearance: none;
  border-radius: 0;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  /* position: absolute; */
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 16px;
  z-index: 100;
  overflow-y: scroll;
  color: white;
  background: transparent;
  margin: 0 auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
