:root {
  --color-primary: #044b7f;
  --color-secondary: #12939a;
  --color-accent: #ea8c55;
  --color-white: #ffffff;
  --color-black: #1d1d1d;
  --color-gain: #44af69;
  --color-loss: #f8333c;

  --width-container: 1000px;
}
