.Alert-root {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.45;
  border-radius: 0.25rem;

  a {
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &:not(:first-of-type) {
    margin-top: 1rem;
  }
}
.Alert-error {
  color: var(--color-text--error);
  background-color: var(--color-background--error);
}

.Alert-info {
  color: var(--color-text--info);
  background-color: var(--color-background--info);
}

.Alert-warning {
  color: var(--color-text--warning);
  background-color: var(--color-background--warning);
}

.Alert-success {
  color: var(--color-text--success);
  background-color: var(--color-background--success);
}
